#well {
  background-image: url(/images/pizzxxx.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
  height: 50vh;
}

.forms {
  width: 50%;
  height: 50vh;
  direction: center;
  display: initial;
}
.contact {
  text-align: center;
}
