body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/blk.jpeg");
}
#well {
  background-image: url("../images/lopy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  height: 50vh;
}
.forms {
  width: 50%;
  height: 50vh;
  direction: center;
  display: initial;
}
.contact {
  text-align: center;
}
.col-md-6 {
  color: white;
}
