.sec1 {
  background: url("../images/pizzxxx.jpg");
  width: 80%;
  height: 80vh;
  text-align: center;
}
.sect-2 {
  text-align: center;
  color: palevioletred;
}
.forms {
  width: 50%;
  height: 50vh;
  direction: center;
  display: initial;
}
